.stitch {
   color: #fff;
   padding: 20px;
   font-size: 14px;
   background: #FEA993;
   border: 2px dashed #F7F9CC;
   border-radius: 10px;
   box-shadow: 0 0 0 7px #FEA993;
}

body {
  min-height: 100%;
  height: 100%;
  width: auto;
  padding: 0;
  margin: 0;
  font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
}


#suggest {
	position: absolute;
	background-color: #FFFFFF;
	border: 1px solid #CCCCFF;
	width: 400px;
	height: auto;
	overflow: auto;
	font-size: 12px;
	color: #000000;
}
#suggest div {
	padding: 1px;
	display: block;
	width: atuo;
	overflow: hidden;
	white-space: nowrap;
}
#suggest div.select{
	color: #FFFFFF;
	background-color: #3366FF;
}
#suggest div.over{
	background-color: #99CCFF;
}
